.well-known/
cgi-bin/
cgi-sys/
vendor/
**logs/

/.env
public/*
!public/index.php
!public/.htaccess
!public/adminstyle.css
!public/adminscript.js
!public/ch-logo.png
!public/ch-logo.jpg
!public/nicEdit.js
!public/nicEditorIcons.gif
!public/currencies/
!public/assets/
public/assets/*

!public/assets/css/
public/assets/css/*
!public/assets/css/index.php
!public/assets/css/bootstrap.min.css

!public/assets/js/
public/assets/js/*
!public/assets/js/index.php
!public/assets/js/script.js

!public/assets/fonts/
public/assets/fonts/*
!public/assets/fonts/index.php

!public/assets/email/
public/assets/email/*
!public/assets/email/index.php

!public/assets/images/
public/assets/images/*
!public/assets/images/index.php

tmp/*
!tmp/index.php

smarty/*
!smarty/config/
!smarty/cache/
smarty/cache/*
!smarty/cache/index.php
!smarty/tmpl_c/
smarty/tmpl_c/*
!smarty/tmpl_c/index.php
